nav {
	position: fixed;
	top: 46px;
	bottom: 32px;
	width: 15%;
	overflow: scroll;
	background-color: #ceeaff;
}

nav ul{
	padding: 0;
	margin: 0;
}

nav ul li{
	padding: 4pt 6pt;
	cursor: pointer;
}

nav ul ul{
	margin-left: 12pt;
	padding: 0pt;
	list-style-type: none;
}

nav ul ul li{
	font-weight: normal;
	padding: 3pt 6pt;
}

nav ul li:hover {
	background-color: #e2f3ff;
	color: black;
}

article {
	left: 15%;
}