nav {
	position: fixed;
	top: 46px;
	bottom: 32px;
	width: 15%;
	overflow: scroll;
	background-color: #ceeaff;
	font-size: 14pt;
}

nav ul{
	padding: 12px 0px;
	margin: 0;
}

nav ul li{
	padding: 4pt 6pt;
	cursor: pointer;
}

nav ul li.category{
	padding: 4pt 6pt;
	font-weight: bold;
}

nav ul ul li.category{
	font-weight: normal;
	font-style: italic;
}

nav ul ul{
	margin-left: 12pt;
	padding: 0pt;
	list-style-type: none;
}

nav ul ul li{
	font-weight: normal;
	padding: 3pt 6pt;
}

nav ul li:hover {
	background-color: #e2f3ff;
	color: black;
}

article {
	left: 15%;
}



@media print {
	nav {
		display: none;
	}

	article {
		left: 0%;
	}
}



@media only screen and (max-width: 600px) {
	nav {
		font-size: 20pt;
	}
}