body{
	text-align:center;
	font-family: sans-serif;
}

table td:last-child {
	width: 100%;
}

#disease{
	font-size: 24pt;
	padding-top: 20px;
	min-height: 40px;
}

#question{
	font-size: 18pt;
	padding-bottom: 20px;
	padding-top: 5px;
	min-height: 30px;
}

#ans{
	display: inline-block;
	text-align: left;
	font-size: 14pt;
	padding-top: 20px;
}

#wheel{
	display:inline-block;
	position:relative;
	overflow:hidden;
}

#wheel:after{
	content:"";
	background:red;
	border:2px solid white;
	position:absolute;
	top:-7px;
	left:50%;
	width:10px;
	height:10px;
	margin-left:-7px;
	transform: rotate(45deg)
}

button{
	display: inline-block;
	border-radius: 8px;
	cursor: pointer;
	text-align: center;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

button:disabled{
	opacity: 0.5;
	cursor: not-allowed;
}

#stop, #reset{
	width: 150px;
	border: 2px solid #f44336;
	background-color: #f44336;
	color: white;
	padding: 14px 28px;
	font-size: 20px;
}

#stop:hover:not([disabled]), #reset:hover:not([disabled]){
	background-color: white;
	color: #f44336;
	border: 2px solid #f44336;
}

#question_buttons{
	margin: 40px 0;
}

.qpoints{
	width: 75px;
	border: 2px solid #008CBA;
	background-color: #008CBA;
	color: white;
	padding: 8px 8px;
	margin: 0px 2px;
	font-size: 16px;
}

.qpoints:hover:not([disabled]){
	background-color: white;
	color: #008CBA;
	border: 2px solid #008CBA;
}

#ans_button{
	width: 150px;
	border: 2px solid #4CAF50;
	background-color: #4CAF50;
	color: white;
	padding: 8px 8px;
	margin: 0px 2px;
	font-size: 16px;
}

#ans_button:hover:not([disabled]){
	background-color: white;
	color: #4CAF50;
	border: 2px solid #4CAF50;
}

ul{
	margin: 0;
}